.App {
  text-align: center;
  color: rgba(157, 13, 253, 0.25);
  color: rgba(128, 0, 128, 0.256);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  display: none;
}
